name: Main push and PR checks

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0 # for commit message checks
      - uses: jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074 # v3.4.0
      - name: Check commit messages
        run: lefthook run commit-msgs-on-pr-branch --no-tty
        if: ${{ github.event_name == 'pull_request' }}
      - name: Check code
        env:
          FORCE_COLOR: true
        run: lefthook run pre-commit --all-files --force --no-tty
